.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  height: 100vh; /* Set height to fill viewport */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  justify-content: flex-start; /* Vertically top */
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center task list horizontally */
  width: 100%; /* Ensure full width */
}

.task-tab {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.task-tab button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #444;
  border: none;
  color: white;
  border-radius: 5px;
}

.task-tab button.active {
  background-color: #007bff;
}

.task-tab .delete-task {
  margin-left: 5px;
  background-color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.new-task {
  display: flex;
  align-items: center;
  justify-content: center; /* Center new task input and button horizontally */
  margin-top: 10px; /* Add margin top for spacing */
}

.new-task input {
  padding: 10px;
  margin-right: 5px;
}

.new-task button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-details {
  text-align: left;
  margin-top: 20px;
  width: 100%; /* Ensure full width */
}

.task-details input {
  padding: 10px;
  margin-right: 5px;
}

.task-details button {
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.entry {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.entry input[type="checkbox"] {
  margin-right: 10px;
}

.edit-entry {
  background-color: orange;
}

.save-entry {
  background-color: yellow;
}

.delete-entry {
  background-color: red;
  color: white;
}

.weather-data,
.movie-data {
  margin-top: 10px;
  text-align: left; /* Adjust text alignment */
}

.weather-data p,
.movie-data p {
  margin: 5px 0; /* Adjust margin for paragraphs */
}

.completed {
  text-decoration: line-through;
}
